#root {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 {
  font-size: 70px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
a{
  color: black;
  text-decoration: none;
  border: 5px solid purple;
  border-radius: 20px;
  padding: 20px;
}
p{
  white-space: pre-wrap;
}
a:hover{
  color: grey;
  background-color: black;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 20px;
}
.sectionRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 20px;
}
.backImg1 {
  background-image: linear-gradient(red, purple);
}
button{
  width: 20%;
  height: 20%;
}
.midsectionBack1 {
  box-shadow: 0px 0px 20px 10px black;
  padding: 20px;
  background-color: white;
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: purple;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
}
.midSection {
  justify-content: center;
  border-radius: 20px;
  width: 20%;
  font-size: 20px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 5px;
}
nav {

}
.button1{
  display: flex;
  gap:5px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  margin: 2px;
  background-image: linear-gradient(purple, blue);
}
.icon1{
  background-image: linear-gradient(rgb(142, 22, 218), rgb(115, 140, 216));
  padding: 20px;
  border-radius: 20px;
  color: white;
}
.img1 {
  background-image: url("landscape-8775773_1920.jpg");
}
img {
  width: 100%;
  height: 100%;
}
.left {
  text-align: left;
  float: left;
  width: 60%;
}
.right{
  text-align: right;
  float: right;
  width: 40%;
}
.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 1px 5px 3px;
  display: flex;
}
.navbar div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.navlinks {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.button {
  padding: 1em 2em;
  border-radius: 8px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}