#root {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a, button{
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

p{
  white-space: pre-wrap;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 10px;
  border-radius: 10px;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-card {
  display: flex;
  flex-direction: column;
  border: black solid 10px;
  padding: 120px 45px;
  width: 60%;
  background-image: linear-gradient(red, rgb(197, 116, 197));
  max-width: 500px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 20px;
}
.sectionRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 20px;
}


.midsectionBack1 {
  box-shadow: 0px 0px 20px 10px black;
  padding: 20px;
  background-color: white;
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: purple;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}
.midSection {
  justify-content: center;
  border-radius: 20px;
  
  font-size: 20px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3vh;
  margin-right: 3vh;
}
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 10px;
  margin-top: 30px;
}
.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button1{
  display: flex;
  gap:5px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  margin: 2px;
  background-image: linear-gradient(purple, blue);
}
.icon1{
  background-image: linear-gradient(rgb(142, 22, 218), rgb(115, 140, 216));
  padding: 15px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainIcon{
  background-image: linear-gradient(rgb(130, 74, 74), rgb(69, 160, 186));
  margin: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.img1 {
  background-image: url("landscape-8775773_1920.jpg");
}
img {
  width: 100%;
  height: 100%;
}
.left {
  text-align: left;
  float: left;
  width: 60%;
}
.right{
  text-align: right;
  float: right;
  width: 40%;
}





.header{
  display: flex;
  flex-direction: column;

}
@media screen and (max-width: 800px) {
  
 
  .sectionRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
