#root {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-align: center;
 margin: 0;
 padding: 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



a, button{
  color: black;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}


a:hover, button:hover {
  background-color: purple;
  color: rgb(198, 115, 115);
  cursor: pointer;
}
.background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoTitle:hover {
 cursor: pointer;
}
.priorityCommunity {
  border: 5px solid black;
  max-width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 20px;
  background-color: beige;
}
.error {
  color: red;
  background-color: white;
  box-shadow: 1px 1px 30px 1px;
  border: 5px dotted darkred;
  padding: 5px 5px;
  max-width: fit-content;
  margin: 0 auto;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: scroll;
}
.tag {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 6px;
}
.popup{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: fit-content;
  inset: 0;
  z-index: 30;
  margin:  0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.user_profile{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5px 30px;
}
.user_profile_role {
  padding: 3px 14px;
  border-radius: 20px;
  max-width: fit-content;
  margin: 0px;
}
.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex_left {
  display: flex;
  margin-right: auto;
  justify-content: flex-start;
}
.flex_right {
  display: flex;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
}
.flex_center {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 100%;
  height: fit-content;
  padding: auto;
}

p{
  white-space: pre-wrap;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 15px;
  text-align: left;
}
form button {
  max-width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 30;
}
.barrier {
  border: .5px solid rgb(193, 193, 193);
}
input {
  border: .5px solid gray;
  width: 100%;
  padding: 10px 5px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.login-card {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  border-radius: 20px;
  padding: 60px 45px;
  width: 60%;
  background-color: white;
  max-width: 500px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
.sectionRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  border-radius: 20px;
}


.midsectionBack1 {
  box-shadow: 0px 0px 20px 10px black;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  color: black;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.loginPrompt{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}
.midSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;

}
.buttonContainer{
  display: flex;
  flex-direction: row;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3vh;
  margin-right: 3vh;
}
.statusCommunity {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px 30px;
}
.hidden {
  display: none;
}
.dropdownParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  text-align: center;
  width: 100%;
  background-color: rgb(204, 185, 161);
}
.dropdown :hover {
  cursor: pointer;
}
.miniMenu {
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.communityPost {
  background-color: white;
  text-align: left;
  padding: 10px;
  border: 5px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.communityPostContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  background-color: aquamarine;
}
.communityPostContent {
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 10px;
}
.footer_div {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.button1{
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(purple, blue);
}
.icon1{
  background-image: linear-gradient(rgb(142, 22, 218), rgb(115, 140, 216));
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  color: white;
}
.mainIcon{
  background-image: linear-gradient(rgb(130, 74, 74), rgb(69, 160, 186));
  margin: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.img1 {
  background-image: linear-gradient(rgb(223, 128, 128), rgb(133, 133, 208));
}
img {
  width: 100%;
  height: 100%;
}
.left {
  text-align: left;
  float: left;
  width: 60%;
}
.right{
  text-align: right;
  float: right;
  width: 40%;
}





.header{
  display: flex;
  flex-direction: column;

}
@media screen and (max-width: 800px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 
  .sectionRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  .login-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.loginPrompt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user_profile{
  font-size: small;
}
}
